body {
    font-family: 'Lato', sans-serif;
	font-size: 20px;
    line-height: 150%;
    color: #333;
	height: 100%:
}

a {
   text-decoration: none;
   color: black;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
}

/* ---- SVG ICONS ---- */
.svg-black {
	color: black;
}

.svg-white {
	color: white !important;
	fill: #fff !important;
}

.icon-navbar {
	height: 60px;
	width: 60px;
}

.icon-hero {
	height: 150px;
	width: 150px;
}

.icon-footer {
	height: 75px;
	width: 75px;
}

.icon-anxiety {
	height: 150px !important;
	width: 150px !important;
}

.icon-heartbreak {
	height: 150px !important;
	width: 150px !important;
}

.icon-relationships {
	height: 150px !important;
	width: 150px !important;
}

.icon-large {
  height: 250px;
  width: 250px;

}

/* ---- END SVG ICONS ---- */
/* ---- COLOURS ---- */

.colour-1 {

}

.colour-2 {

}

.colour-accent {

}

/* ---- END COLOURS ---- */


/* ---- MAPS ---- */
#map {
	position: relative;
	right: 0;
	bottom: 0;
	width: 100%; height: 550px;

}

/* -
--- END MAPS ---- */

/* ---- SECTION BLOCKS ---- */

#hero {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('Images/wave_hero.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#about {
	background: #fff;

}
#expertise {
	background: #fff;
}

#expertise-2 {
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('Images/wave_hero.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}


#approach {

}

#contact {
	background: #fff
	}

#footer {
	background: #8ED2D3;
}

.footer-list-item {
	padding-left: 20px;
	padding-right: 20px;
	line-height: 82px;

}

/* ---- END SECTION BLOCKS ---- */



/* ---- FONTS AND WEIGHTS ---- */

.heading {
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	line-height: 120%;
	font-weight: bold;
	color: #000;
	padding-top: 10px;
}

.subheading {
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	line-height: 120%;
	color: #000;
	padding-top: 10px;
}

.title {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	line-height: 300%;
	color: #000;
	font-weight: 700;
}

.sub-title {
	font-family: 'Lato', sans-serif;
	font-size: 19px;
	line-height: 150%;
	color: #000;
	font-weight: 700;
}

.copy {
	font-family: 'Lato', sans-serif;
	font-size: 19px;
	line-height: 180%;
}

.copy-small {
	font-family: 'Lato', sans-serif;
	font-size: 11px;
	line-height: 180%;
}
.copy-white {
	color: white;
}
/* ---- END FONTS AND WEIGHTS ---- */


/* ---- WIDTHS, PADDING AND ALIGNMENT ---- */
.width-100 {
	width: 100%;
    margin: auto !important;
}
.width-80 {
    width: 80% !important;
    margin: auto !important;
}
.width-60 {
    width: 60%;
    margin: auto !important;
}
.width-40 {
    width: 40%;
    margin: auto !important;
}

.valign {
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);

}

.inline {
    display: inline;
}

.block {
	display: block;
	margin: auto;
	width: 100%;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.block-3 {
  padding: 25px;
	width: 325px;
	margin: 10px;
	transition: transform 0.3s;
}
.block-3:hover  {
  transform: scale(1.05);
  cursor:pointer
}

/* ---- END WIDTHS, PADDING AND ALIGNMENT ---- */

/* ---- MODALS ---- */

/* ---- END MODALS ---- */

/* ---- BUTTONS ---- */

.btn-1 {

}

.btn-1:hover {

}

.btn-2 {
    background: white;
	border: 1px solid black;
}

.btn-2:hover {

}

.btn-3 {

}

.btn-3:hover {

}

/* ---- END BUTTONS ---- */


.jumbotron {
	background: none;
}

.desktop-hide {
    display: none;
}

ol {
    list-style: none;
    -webkit-padding-start: 0;
}


/* ---- NAVBAR ---- */

.navbar a {
	text-decoration: none;
}

.navbar-brand img {
	width: 200px;
}

.navbar-toggler {
	border: none !important;
}

.navbar-toggler:focus {
  outline: none;
}
/* ---- END NAVBAR ---- */


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.carousel .item {
    min-height: 250px;
}

.carousel .carousel-control {
    background-image: none;
}

.carousel .left:hover {
    background-image: linear-gradient(to right,rgba(0,0,0,0.3) 0,rgba(0,0,0,0.001) 100%);
}

.carousel .right:hover {
    background-image: linear-gradient(to left,rgba(0,0,0,0.3) 0,rgba(0,0,0,0.001) 100%);
}

.glyphicon {
	color: white !important;
}


/* ---- FORM FORMATS ---- */


/* ---- END FORM FORMATS ---- */
