body {
    font-family: 'Lato', sans-serif;
	font-size: 20px;
    line-height: 150%;
    color: #333;
	height: 100%:
}

a {
   text-decoration: none;
   color: black;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
}

.overflow-hidden {
  overflow:hidden;

  width: 100%;
}
/* ---- SVG ICONS ---- */
.svg-black {
	color: black;
  fill: #000;
}

.svg-white {
	color: white !important;
	fill: #fff !important;
}

.svg-hero-container {
  height: 90%;
  width: 100%;
}

.svg-hero {
fill: black;
height: 150vh;
width: 120vw;
left: 25vw;
bottom: 25vh;
z-index: 0;
transform: rotate(310deg);
}
.icon-navbar {
	height: 60px;
	width: 60px;
}

.icon-hero {
	height: 150px;
	width: 150px;
}
.icon-hero-2 {
  height: 100px;
  width: 100px;
}
.icon-footer {
	height: 75px;
	width: 75px;
}

.icon-anxiety {
	height: 150px !important;
	width: 150px !important;
}

.icon-heartbreak {
	height: 150px !important;
	width: 150px !important;
}

.icon-relationships {
	height: 150px !important;
	width: 150px !important;
}

.icon-large-left {
  position: relative;
  font-size: 150px;
  color: #fff;/* #8ED2D3;*/
  right: 32vw;
  top: 10vh;
  opacity: 1;
}
.icon-large-right {
  position: relative;
  font-size: 150px;
  color: #fff;/* #8ED2D3;*/
  top: -10vh;
  left: 32vw;
  z-index: 1;
  opacity: 1;
}

.icon-absolute {
  fill: #8ED2D3;
  color: #8ED2D3;
  opacity: 0.3;
  height: 1000px;
}

.icon-absolute-ml {
  transform: rotate(90deg);
  left: -20vw;
}

.icon-absolute-tr {
  transform: rotate(245deg);
  right: -15vw;
  margin-top: -500px;
}

.icon-absolute-br {
  transform: rotate(300deg);
  right: -15vw;
  margin-top: 400px;

}
/* ---- END SVG ICONS ---- */
/* ---- COLOURS ---- */

.colour-1 {

}

.colour-2 {

}

.colour-accent {

}

/* ---- END COLOURS ---- */


/* ---- MAPS ---- */
#map {
	position: relative;
	right: 0;
	bottom: 0;
	width: 100%; height: 450px;
}

/* -
--- END MAPS ---- */

/* ---- SECTION BLOCKS ---- */
.hero {
  background: #fff;

}
.hero-background {
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url('Images/wave_hero.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.hero-background-2 {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('Images/wave_hero.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}


#about {
	background: #fff;

}
#expertise {
	background: #fff;
}

#expertise-2 {
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url('Images/wave_hero.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}


#approach {

}

#quote {
z-index: 0;
}
.quote-text {
  z-index: 100;
  position: relative;
}
#contact {
	background: #fff
	}

#footer {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('Images/wave_hero.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}




.transform-skew {
  transform: skewY(-5deg);
  transform-origin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.hero-background {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('Images/wave_hero.jpg');
  background-size: cover;
  background-attachment: fixed;

}


/* ---- END SECTION BLOCKS ---- */



/* ---- FONTS AND WEIGHTS ---- */

.heading {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
}

p {
  line-height: 150%;
}

h2, h3 {
  padding-bottom: 20px;
  line-height: 150%;
}

.copy-white {
	color: white;
}
.copy-blue {
  color: #8ED2D3;
}
/* ---- END FONTS AND WEIGHTS ---- */


/* ---- WIDTHS, PADDING AND ALIGNMENT ---- */
.width-100 {
	width: 100%;
    margin: auto !important;
}
.width-80 {
    width: 80% !important;
    margin: auto !important;
}
.width-60 {
    width: 60%;
    margin: auto !important;
}
.width-40 {
    width: 40%;
    margin: auto !important;
}

.valign {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);

}

.inline {
    display: inline;
}

.block {
	display: block;
	margin: auto;
	width: 100%;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.info-block {
 padding: 25px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.info-block::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.info-block:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.block-3 {
  width: 100%;
  max-width: 325px;
}
.block-2 {
  width: 100%;
  max-width: 450px;
}
.block-3:hover::after {
    opacity: 1;
}
.block-2:hover::after {
    opacity: 1;
}

.block-3:hover svg  {
  fill:#A5D5EB;
  color:#A5D5EB;
}

/* ---- END WIDTHS, PADDING AND ALIGNMENT ---- */



/* ---- BUTTONS ---- */

.btn-primary {
  outline:none;
  border: none;
  background: #fff !important;
  color:#000 !important;
}

.btn-primary:hover {
outline: none !important;
background:#8ED2D3 !important;
color: #fff !important;
border: none;
}

.btn-2 {
    background: white;
	border: 1px solid black;
}

.btn-2:hover {

}

.btn-3 {

}

.btn-3:hover {

}

/* ---- END BUTTONS ---- */


.jumbotron {
	background: none;
}

.desktop-hide {
    display: none;
}

ol {
    list-style: none;
    -webkit-padding-start: 0;
}


/* ---- NAVBAR ---- */

.navbar a {
	text-decoration: none;
}

.navbar-brand img {
	width: 200px;
}

.navbar-toggler {
	border: none !important;
}

.navbar-toggler:focus {
  outline: none;
}
/* ---- END NAVBAR ---- */


/* ---- COLOURS ---- */
.color-sand {
  color: 	#efeadd;
}

.color-blue {
  color:#8ED2D3;
}

.background-sand {
  background: #efeadd;
}

.background-blue {
  background:#A5D5EB;
}

.fill-sand {
  fill: #efeadd;
}

.fill-blue {
  fill:#A5D5EB;
}
.fill-clear {
  fill:transparent;
  background: white;
}
/* ---- END COLOURS ---- */
